<%- include("partials/header") %> 
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1 class="text-center py-4">Search for a movie</h1>
            <form action="/results" method="GET">
                <div class="input-group">
                    <input class="form-control" name="search" type="search" placeholder="Enter the name of a movie/show">
                    <span class="input-group-append">
                      <button class="btn btn-dark" type="submit">
                          <i class="fa fa-search"></i>
                      </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    
</div>

<%- include("partials/footer") %>